aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.13.0
cffi==2.0.0
click==8.3.3
cryptography==47.0.0
ecdsa==0.19.2
fastapi==0.115.0
greenlet==3.5.0
h11==0.16.0
httptools==0.7.1
idna==3.13
pyasn1==0.6.3
pycparser==3.0
pydantic==2.9.0
pydantic-settings==2.5.0
pydantic_core==2.23.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.12
PyYAML==6.0.3
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.35
starlette==0.38.6
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.30.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
